@import "./base.scss";
.App {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-100%);
    transition: transform 1s ease-in;
  }
}

.loading {
  &:after {
    transform: translateY(0);
  }
}
