@import "./base.scss";
.banner {
  width: 100%;
  height: 840px;
  &__container {
    width: 100%;
    display: flex;
  }
  &__left {
    height: 800px;
    display: flex;
    flex-grow: 2;
    flex-basis: 66%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(https://s3.eu-west-1.amazonaws.com/panpan.dk/merkle/banner.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    padding-left: 100px;
    z-index: 0;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 75%;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
  &__right {
    height: 800px;
    flex-grow: 1;
    flex-basis: 34%;
    padding: 60px;
  }
  &__divider {
    height: 40px;
    width: 100%;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 40%;
      background-color: var(--color-red-primary);
    }
  }
  &__social {
    position: absolute;
  }
}

@include media($width: $bp-large) {
  .banner {
    &__container {
      flex-direction: column;
    }
    &__left {
      min-height: 500px;
      &:before {
        width: 100%;
      }
    }
    &__right {
      padding: 60px 100px;
    }
    &__divider::after {
      width: 100%;
    }
  }
  @include media($width: $bp-medium) {
    .banner {
      &__left {
        padding-left: 50px;
      }
      &__right {
        padding: 50px;
      }
    }
  }
  @include media($width: $bp-small) {
    .banner {
      &__left {
        padding-left: 20px;
      }
      &__right {
        padding: 50px 20px;
      }
    }
  }
  @include media($width: 450px) {
    .banner {
      &__left {
        padding-left: 10px;
      }
      &__right {
        padding: 50px 10px;
      }
    }
  }
}
