@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  min-height: 100vh;
}

:root {
  // colors
  --color-white: #fff;
  --color-black: #212529;
  --color-red-one: #ff3a30;
  --color-red-two: #ff4f00;
  --color-blue-one: #007aff;
  --color-blue-two: #5ac8fa;
  --color-blue-grey-one: #3f5573;
  --color-purple-one: #5856d5;
  --color-purple-two: #ca9cf4;
  --color-green-one: #4cd965;
  --color-green-two: #3cd289;

  // fonts
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

// responsive breakpoints
$bp-largest: 1200px;
$bp-large: 992px;
$bp-medium: 768px;
$bp-small: 576px;
@mixin media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}
