@mixin merkle-button($color) {
  position: relative;
  cursor: pointer;
  &,
  &:hover,
  &:focus {
    border: none;
    outline: none;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color, 0.3);
    transform: scaleX(0);
    transition: transform 250ms ease-in;
    transform-origin: right;
  }
  &:hover,
  &:focus {
    &::before {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

@mixin hover_underline() {
  display: inline;
  background-image: linear-gradient(
    to right,
    currentColor 0%,
    currentColor 100%
  );
  background-size: 0 2px;
  background-position: 0px 95%;
  background-repeat: no-repeat;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  &:hover {
    background-size: 100% 2px;
  }
}

@mixin attribute-box {
  .attribute-box {
    border-radius: 3px;
    overflow: hidden;
    display: inline-block;
    font-size: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);

    &__type {
      font-family: var(--primary-font);
      text-transform: uppercase;
      padding: 2px 5px;
      background-color: rgba(0, 0, 0, 0.5);
      color: var(--color-white);
    }
    &__value {
      padding: 2px 5px;
      font-family: var(--secondary-font);
      color: rgba(0, 0, 0, 0.7);
      background-color: var(--color-white);
    }
  }
}
