@import "./base.scss";
.news-items {
  margin-top: 80px;
  padding: 100px;
  padding-top: 0;
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
}

.news-item {
  &__image {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    overflow: hidden;
    transition: transform 0.25s ease-in;
  }
  &__title {
    font-family: var(--primary-font);
    font-size: 20px;
    color: var(--black-color);
    & a,
    & a:visited {
      color: var(--black-color);
      text-decoration: none;
    }
    & a h2 {
      display: inline;
      background-image: linear-gradient(
        to right,
        currentColor 0%,
        currentColor 100%
      );
      background-size: 0 2px;
      background-position: 0px 95%;
      background-repeat: no-repeat;
      transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86)
        0s;
    }
  }
  &__attributes {
    margin-top: 5px;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  &__description {
    margin-top: 10px;
    font-family: var(--secondary-font);
    font-size: 15px;
    line-height: 20px;
  }
  &:hover {
    & a h2 {
      background-size: 100% 2px;
    }
    .news-item__image {
      transform: scale(1.4);
    }
  }
}

@include media($width: $bp-medium) {
  .news-items {
    padding: 50px;
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include media($width: $bp-small) {
  .news-items {
    padding: 20px;
    &__container {
      grid-template-columns: 1fr;
    }
  }
}

@include media($width: 450px) {
  .news-items {
    padding: 10px;
  }
}
